<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZALO_API_KEY</key>
	<string>$(ZALO_API_KEY)</string>
	<key>GOOGLE_MAP_API_KEY</key>
	<string>$(GOOGLE_MAP_API_KEY)</string>
	<key>HARVARD_MUSEUM_API_KEY</key>
	<string>$(HARVARD_MUSEUM_API_KEY)</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Please allow FaceID permission!</string>
	<key>Allow Arbitrary Loads</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb421240223192947</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.103519931467-5gnrrfu7g9uk683pkjqekocfu8927mej</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Zalo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zalo-2921235391973454953</string>
			</array>
		</dict>
	</array>
	<key>Camera Usage Description</key>
	<string>Please allow camera access!</string>
	<key>FacebookAppID</key>
	<string>421240223192947</string>
	<key>FacebookClientToken</key>
	<string>994121af35d157f3df11e69d54871c1e</string>
	<key>FacebookDisplayName</key>
	<string>Art Exhibition</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>Media Library Usage Description</key>
	<string>Please allow media library access!</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>Photo Library Usage Description</key>
	<string>Please allow photo library access!</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
